* {
  margin: 0;
  border: 0;
}


body {
  border: 1px solid black;
  margin: 25, 25, 50, 50;
  text-align: center;
  background-image: linear-gradient(to top left, rgb(0, 140, 255), rgb(0, 225, 255), rgb(0, 174, 255));
}

h1 {
  font-family: kumar one outline;
  color: rgb(60, 2, 114);
}

.likes {
object-position: 50%;

}



.icons:hover {
  opacity: 50%;
  }

.gif {
  width: 50%;
  align-items: left;
}

